body {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
    overflow: hidden;
}

#login-wrapper {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
}
